@font-face {
  font-family: Shabnam;
  src: url('../../resources/fonts/Shabnam.eot');
  src: url('../../resources/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/Shabnam.woff2') format('woff2'),
       url('../../resources/fonts/Shabnam.woff') format('woff'),
       url('../../resources/fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('../../resources/fonts/Shabnam-Bold.eot');
  src: url('../../resources/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/Shabnam-Bold.woff2') format('woff2'),
       url('../../resources/fonts/Shabnam-Bold.woff') format('woff'),
       url('../../resources/fonts/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('../../resources/fonts/Shabnam-Thin.eot');
  src: url('../../resources/fonts/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/Shabnam-Thin.woff2') format('woff2'),
       url('../../resources/fonts/Shabnam-Thin.woff') format('woff'),
       url('../../resources/fonts/Shabnam-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url('../../resources/fonts/Shabnam-Light.eot');
  src: url('../../resources/fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/Shabnam-Light.woff2') format('woff2'),
       url('../../resources/fonts/Shabnam-Light.woff') format('woff'),
       url('../../resources/fonts/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url('../../resources/fonts/Shabnam-Medium.eot');
  src: url('../../resources/fonts/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/Shabnam-Medium.woff2') format('woff2'),
       url('../../resources/fonts/Shabnam-Medium.woff') format('woff'),
       url('../../resources/fonts/Shabnam-Medium.ttf') format('truetype');
  font-weight: 500;
}
